<div class="x_panel" th:fragment="grape_realtime">
    <section class="x_title sect-filter">
        <h2>실시간 그래프</h2>

        <!--style="float:left;"  -->
        <aside class="fliter-wrap">
            <div class="col">
                <div class="flex-wrap">
                    <select id='app_list' th:field="*{appList}" th:remove="all-but-first"  class="form-control flex mgr10">
                        <option th:each="list : ${appList}"
                                th:value="${list.appDivision}" th:text="${list.appName}"></option>
                    </select>
                    <input type="checkbox" id="chk_refresh" class="flex" style="width:48%" data-toggle="toggle" data-on="정지" data-off="실시간">
                </div>
            </div>

            <div class="col">
                <div class='input-group date' id='date_timepicker_1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="col">
                <div class='input-group date' id='date_timepicker_2'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="col">
                <div class="flex-wrap">
                    <select id="dateSelect" class="form-control flex mgr10" name="dateSelect">
                        <option value="1">5분</option>
                        <option value="2">10분</option>
                        <option value="3">30분</option>
                        <option value="4">1시간</option>
                        <option value="5">12시간</option>
                        <option value="6">1일</option>
                        <option value="7">7일</option>
                    </select>
                    <button type="button" class="btn btn-info" id="btn_grape_realtime">조회</button>
                </div>
            </div>

            <div class="clearfix"></div>
        </aside>
    </section>

    <div class="x_content">
        <div id="grape_realtime" style="height:350px;"></div>
    </div>
</div>
