<div class="x_panel" th:fragment="grape_realtime">
    <div class="x_title">
        <div class="col-md-3">
            <h2>실시간 그래프</h2>
        </div>

        <div style="float:left;">
            앱선택 :
            <select >
            <option value="">선택</option>
            <option th:each="list : ${appList}"
                    th:value="${list.appDivision}" th:text="${list.appName}"></option>
        </select>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12" style="float:right;">
            <div class="col-md-4">
                <div class="form-group">
                    <div class='input-group date' id='date_timepicker_1'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class='input-group date' id='date_timepicker_2'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <select id="dateSelect" name="dateSelect">
                    <option value="1">15분</option>
                    <option value="2">1시간</option>
                    <option value="3">12시간</option>
                    <option value="4">1일</option>
                    <option value="5">1주일</option>
                    <option value="6">1개월</option>
                    <option value="7">3개월</option>
                </select>
            </div>

            <div class="col-md-1">
                <button type="button" class="btn btn-info" id="btn_grape_realtime">조회</button>
            </div>
        </div>

        <div class="col-md-1" style="float:right;">
            <input type="checkbox" id="chk_refresh"  data-toggle="toggle" data-on="정지" data-off="실시간">
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div id="grape_realtime" style="height:350px;"></div>
    </div>
</div>
